* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
#mainDiv {
  height: 90vh;
  width: 80vw;
  background-image: url("resources/planet.png");
  background-size: contain;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5px;
}
#leftDiv {
  display: flex;
  justify-content: center;
  height: 100%;
}
#contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 80%;
  border: 2px solid white;
  width: 80%;
  margin: auto;
}
.letters {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
}
.lastRow {
  grid-column: span 2;
}
h1 {
  font-size: 20px;
  color: white;
  margin: auto;
}
#rightDiv {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 5px;
}
#animationArea {
  border: solid 5px white;
}
#answerArea {
  display: flex;
  background-color: rgba(0, 0, 0, 0.80);
  align-items: center;
}

.ansLetters {
  margin: auto;
  
  height: 60px;
  width: 60px;
  align-items: center;
  display: flex;
}
.h1Answers {
  font-size: 40px;
  
}
#tracker {
  grid-column: span 4;
}
h1.gameOverMessage{
  font-size: 40;
}